In [ ]:
import os
import pandas as pd
import numpy as np
import PIL
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn import model_selection
import SimpleITK as sitk

from tensorflow.keras.applications import EfficientNetB0
from tensorflow.keras import models
from tensorflow.keras import layers
import tensorflow_addons as tfa

In [2]:
os.environ['CUDA_VISIBLE_DEVICES'] = '0'

# Datos

## Dataframe

In [3]:
path = '/home/maryskal/Downloads/archive/vinbigdata'
path = '/home/mr1142/Documents/Data/vinbigdata'

In [4]:
df = pd.read_csv(os.path.join(path, 'train.csv'))

In [5]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,2080,2336
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,2304,2880
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN,2540,3072

In [6]:
for i, finding in enumerate(np.unique(df.class_name)):
    print(f'class name: {finding}')
    print(f'ID: {df.class_id[i]}')
    print(sum(df.class_name == finding))

class name: Aortic enlargement
ID: 14
7162
class name: Atelectasis
ID: 14
279
class name: Calcification
ID: 3
960
class name: Cardiomegaly
ID: 0
5427
class name: Consolidation
ID: 14
556
class name: ILD
ID: 11
1000
class name: Infiltration
ID: 5
1247
class name: Lung Opacity
ID: 8
2483
class name: No finding
ID: 0
31818
class name: Nodule/Mass
ID: 13
2580
class name: Other lesion
ID: 7
2203
class name: Pleural effusion
ID: 13
2476
class name: Pleural thickening
ID: 14
4842
class name: Pneumothorax
ID: 14
226
class name: Pulmonary fibrosis
ID: 0
4655

Creo la clase neumon√≠a

In [7]:
values = ['Consolidation', 'Infiltration', 'Lung Opacity']
df['Neumonia'] = 0
index = [i for i, clase in enumerate(df.class_name) if clase in values]
df['Neumonia'][index] = 1

/home/mr1142/miniconda3/envs/init/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,Neumonia
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580,0
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159,0
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,2080,2336,0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,2304,2880,0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN,2540,3072,0

Divido el dataset en dos y reduzco el de no neumon√≠a

In [9]:
df_neumo = df[df.Neumonia == 1].reset_index(drop=True)
df_no_neumo = df[df.Neumonia == 0].reset_index(drop=True)

In [10]:
print(len(df_neumo))
print(len(df_no_neumo))

4286
63628

Para reducir elijo un numero de valores aleatorios que ser√°n los √≠ndices

In [11]:
selection = np.random.randint(0, len(df_no_neumo), len(df_neumo))
df_no_neumo = df_no_neumo.iloc[selection,:]
len(df_no_neumo)

4286

Genero el nuevo dataframe juntando

In [12]:
df = pd.concat([df_neumo, df_no_neumo]).reset_index(drop=True)

Reordeno aleatoriamente

In [13]:
df = df.sample(frac=1)

In [14]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,Neumonia
1763,fb65f00dc9ea6fe17670ad9564e41db5,Infiltration,6,R9,1089.0,180.0,1498.0,664.0,2048,2500,1
5623,8ab165974684980021cfd4d69d0874a5,Pleural effusion,10,R10,323.0,1404.0,1020.0,1959.0,2734,2902,0
1737,78e8eee238eeb6f386be08ece092167c,Infiltration,6,R8,440.0,1167.0,858.0,1531.0,2304,2880,1
8067,a5a68ae68617df1b6362ed51973e1338,Pulmonary fibrosis,13,R8,1957.0,1385.0,2189.0,1452.0,2516,2711,0
4325,b1317b9c87824f682908a6c503f8d39d,Pleural thickening,11,R9,1851.0,464.0,2217.0,578.0,3131,2810,0

## Imagenes

In [16]:
def downsample(img):
    array = sitk.GetArrayFromImage(img)
    ds_array = array/255
    r = np.stack((ds_array,)*1, axis = -1)
    return r

In [17]:
def charge_img(name):
    img = sitk.ReadImage(os.path.join(path, 'train', name + '.png'))
    img = downsample(img)
    return(img)

In [18]:
tensor = np.zeros((len(df.image_id), 512, 512, 1))
for i in range(tensor.shape[0]):
    tensor[i,...] = charge_img(df.image_id[i])

## X e Y

In [19]:
Y = np.array(df['Neumonia'])
X = tensor

In [20]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2, 
                                                                    random_state=42, shuffle=True, stratify=Y )

# Modelo

- A√±ado una capa inicial para poder entregarle el input de 3 canales. 
- A√±ado 1 convoluci√≥n con max pooling y una segunda convoluci√≥n cno globalMaxPooling para ajustar mejor
- A√±ado Dropout para evitar overfiting
- A√±ado la capa final con 6 neuronas de salida

In [21]:
input_shape = (512,512,3)
conv_base = EfficientNetB0(weights="imagenet", include_top=False, input_shape=input_shape)

In [22]:
len(conv_base.layers)

237

In [23]:
len(conv_base.trainable_variables)

211

In [24]:
model = models.Sequential()
model.add(layers.Conv2D(3,3,padding="same", input_shape=(512,512,1), activation='elu', name = 'conv_inicial'))
model.add(conv_base)
model.add(layers.Conv2D(3,32, padding='same', input_shape=(8,8,1280), activation='selu', name = 'conv_posterior'))
model.add(layers.MaxPool2D(pool_size = (2,2), padding='same', name = 'first_pooling'))
model.add(layers.Conv2D(3,64, padding='same', input_shape=(4,4,1280), activation='selu', name = 'last_convolution'))
model.add(layers.GlobalMaxPooling2D(name="general_max_pooling"))
model.add(layers.Dropout(0.2, name="dropout_out"))
model.add(layers.Dense(1, activation="softmax", name="fc_out"))

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv_inicial (Conv2D)        (None, 512, 512, 3)       30
_________________________________________________________________
efficientnetb0 (Functional)  (None, 16, 16, 1280)      4049571
_________________________________________________________________
conv_posterior (Conv2D)      (None, 16, 16, 3)         3932163
_________________________________________________________________
first_pooling (MaxPooling2D) (None, 8, 8, 3)           0
_________________________________________________________________
last_convolution (Conv2D)    (None, 8, 8, 3)           36867
_________________________________________________________________
general_max_pooling (GlobalM (None, 3)                 0
_________________________________________________________________
dropout_out (Dropout)        (None, 3)                 0
_________________________________________________________________
fc_out (Dense)               (None, 1)                 4
=================================================================
Total params: 8,018,635
Trainable params: 7,976,612
Non-trainable params: 42,023
_________________________________________________________________

# Compilaci√≥n y entrenamiento

## 1¬∫ entrenamiento
Solo vamos a entrenar las capas que hemos a√±adido

In [26]:
conv_base.trainable = False

In [27]:
len(model.trainable_variables)

8

### Hiperpar√°metros

1. **Loss**

In [28]:
loss = tf.keras.losses.BinaryCrossentropy()

2. **Optimizador y learning rate**

In [29]:
lr = 0.01
opt = tf.keras.optimizers.Adam(learning_rate = lr)

3. **Metricas**

In [30]:
met = ['CategoricalAccuracy', 'AUC']

4. **Batch size**

In [31]:
batch = 500

5. **Epochs**

In [32]:
initial_epochs = 10

### Entrenamiento

In [33]:
model.compile(optimizer=opt, loss = loss , metrics = met)

In [34]:
print('loss, acuracy, auc')
model.evaluate(X_test, Y_test)

loss, acuracy, auc
54/54 [==============================] - 580s 5s/step - loss: 0.7011 - categorical_accuracy: 1.0000 - auc: 0.5000

[0.6981643438339233, 1.0, 0.5]

In [ ]:
history = model.fit(X_train,Y_train, batch_size = batch, epochs = initial_epochs, 
                    validation_data = (X_test, Y_test))

In [ ]:
epochs_range = range(initial_epochs)
i = 0
for i in range(int(len(history.history.keys())/2)):
    key = list(history.history.keys())[i]
    
    plt.figure(figsize=(5, 5))
    plt.subplot(1, 1, 1)
    plt.plot(epochs_range, history.history[key], label=key)
    plt.plot(epochs_range, history.history['val_' + key], label='val_' + key)
    plt.legend(loc='lower right')
    plt.title('Training and Validation')
plt.show()

## 2¬∫ Entrenamiento
Ahora vamos a entrenar tambien la red preentrenada, pero no queremos entrenar todas las capas, √∫nicamente las capas m√°s profundas, ya que las primeras capas son muy gen√©ricas.

### Ajustar el entrenamiento de la red preentrenada

In [ ]:
conv_base.trainable = True

In [ ]:
len(conv_base.layers)

Vamos a entrenar desde la capa 100

In [ ]:
fine_tune_at = 100

for layer in conv_base.layers[:fine_tune_at]:
    layer.trainable = False

## Hiperpar√°metros
Como el modelo es mucho m√°s grande tenemos que usar un learning rate m√°s bajo del que usabamos.
Vamos a utilizar dos learning rates, uno para el modelo preentrenado y otro para las capas nuevas

In [ ]:
opt = [tf.keras.optimizers.Adam(learning_rate = lr), tf.keras.optimizers.RMSprop(learning_rate = lr/100)]
optimizers_and_layers = [(opt[0], model.layers[0]),
                         (opt[1], model.layers[1]),
                         (opt[0], model.layers[2:])]
opt = tfa.optimizers.MultiOptimizer(optimizers_and_layers)

In [ ]:
batch_size = 500
fine_tune_epochs = 20
total_epoch = initial_epochs + fine_tune_epochs

### Entrenamiento

In [ ]:
model.compile(optimizer=opt, loss = loss , metrics = met)

In [ ]:
history = model.fit(X_train,Y_train, 
                    batch_size = batch_size,
                    epochs = total_epoch,
                    initial_epoch=history.epoch[-1],
                    validation_data = (X_test, Y_test))

In [ ]:
epochs_range = len(history.history['loss'])
i = 0
for i in range(int(len(history.history.keys())/2)):
    key = list(history.history.keys())[i]
    
    plt.figure(figsize=(5, 5))
    plt.subplot(1, 1, 1)
    plt.plot(history.history[key], label=key)
    plt.plot(history.history['val_' + key], label='val_' + key)
    plt.legend(loc='lower right')
    plt.title('Training and Validation')
plt.show()