In [7]:
from sklearn import model_selection
import os
import cv2
import numpy as np
import pandas as pd

In [10]:
# path = 'D:/Users/maryskal/Documents/SITK/CXR8/images/images_001'
path = '/home/mr1142/Documents/Data/segmentation'

In [11]:
masks_name = [f for f in os.listdir(os.path.join(path, 'mascara')) 
              if os.path.isfile(os.path.join(os.path.join(path, 'mascara'), f))]

In [17]:
masks = []
images = []
for i in range(len(masks_name)):
    masks.append(cv2.imread(os.path.join(path, 'mascara', masks_name[i])))
    images.append(cv2.imread(os.path.join(path, 'images', masks_name[i])))

In [18]:
diccionario = {'name': masks_name,
              'images': images,
              'masks': masks}

In [19]:
df = pd.DataFrame(diccionario)

In [20]:
df.head()

,name,images,masks
0,00015693_006.png,"[[[13, 13, 13], [24, 24, 24], [24, 24, 24], [2...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
1,00000202_000.png,"[[[0, 0, 0], [1, 1, 1], [2, 2, 2], [2, 2, 2], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
2,00013750_024.png,"[[[206, 206, 206], [204, 204, 204], [204, 204,...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
3,00005271_006.png,"[[[4, 4, 4], [9, 9, 9], [10, 10, 10], [10, 10,...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
4,00008051_050.png,"[[[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."

In [21]:
df_train, df_val = model_selection.train_test_split(df, test_size=0.2, 
                                                    random_state=42, shuffle=True)

In [22]:
len(df_train)

393

In [23]:
len(df_val)

99

In [24]:
p_save = '/home/mr1142/Documents/Data/segmentation/splited'

In [25]:
df_train.head()

,name,images,masks
377,00018860_000.png,"[[[97, 97, 97], [84, 84, 84], [77, 77, 77], [7...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
124,00009813_006.png,"[[[195, 195, 195], [192, 192, 192], [190, 190,...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
419,00030319_000.png,"[[[89, 89, 89], [79, 79, 79], [75, 75, 75], [7...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
417,00018840_034.png,"[[[0, 0, 0], [3, 3, 3], [9, 9, 9], [8, 8, 8], ...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."
172,00025848_000.png,"[[[195, 195, 195], [192, 192, 192], [191, 191,...","[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], ..."

In [28]:
for i in list(df_train.index):
    cv2.imwrite(os.path.join(p_save,'train/images', df_train['name'][i]), df_train['images'][i])
    cv2.imwrite(os.path.join(p_save,'train/mascara', df_train['name'][i]), df_train['masks'][i])

In [29]:
for i in list(df_val.index):
    cv2.imwrite(os.path.join(p_save,'validation/images', df_val['name'][i]), df_val['images'][i])
    cv2.imwrite(os.path.join(p_save,'validation/mascara', df_val['name'][i]), df_val['masks'][i])

# Añadimos las demás

In [8]:
path = '/home/mr1142/Documents/Data/seg_prueba'

In [9]:
masks_name = [f for f in os.listdir(os.path.join(path, 'mascara')) 
              if os.path.isfile(os.path.join(os.path.join(path, 'mascara'), f))]

In [10]:
masks = []
images = []
for i in range(len(masks_name)):
    masks.append(cv2.imread(os.path.join(path, 'mascara', masks_name[i])))
    images.append(cv2.imread(os.path.join(path, 'images', masks_name[i])))

In [12]:
p_save = '/home/mr1142/Documents/Data/segmentation/splited'

In [13]:
for i in range(len(masks_name)):
    cv2.imwrite(os.path.join(p_save,'validation/images', masks_name[i]), images[i])
    cv2.imwrite(os.path.join(p_save,'validation/mascara', masks_name[i]), masks[i])

# Creamos el dataframe

In [14]:
path = '/home/mr1142/Documents/Data/segmentation/splited/validation'
masks_name = [f for f in os.listdir(os.path.join(path, 'mascara')) 
              if os.path.isfile(os.path.join(os.path.join(path, 'mascara'), f))]

In [16]:
len(masks_name)

179

In [20]:
path = '/home/mr1142/Documents/Data/NIH/Data_Entry_2017.csv'

In [21]:
df = pd.read_csv(path)

In [22]:
df.head()

,Image Index,Finding Labels,Follow-up #,Patient ID,Patient Age,Patient Gender,View Position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y],Unnamed: 11
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,2682,2749,0.143,0.143,NaN
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,2894,2729,0.143,0.143,NaN
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,2500,2048,0.168,0.168,NaN
3,00000002_000.png,No Finding,0,2,81,M,PA,2500,2048,0.171,0.171,NaN
4,00000003_000.png,Hernia,0,3,81,F,PA,2582,2991,0.143,0.143,NaN

In [23]:
index = [i for i in df.index if df['Image Index'][i] in masks_name]

In [25]:
df = df.iloc[index]

In [26]:
df.to_csv('/home/mr1142/Documents/Data/segmentation/splited/validation/validation_data.csv')