In [1]:
df <- read.csv('/home/mr1142/Documents/Data/heatmaps/comparation.csv')

In [6]:
var.test(df$mask, df$no.mask)

	F test to compare two variances

data:  df$mask and df$no.mask
F = 0.13969, num df = 5358, denom df = 5358, p-value < 2.2e-16
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.1324011 0.1473707
sample estimates:
ratio of variances
         0.1396855

In [12]:
t.test(df$mask)

	One Sample t-test

data:  df$mask
t = 58.258, df = 5358, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 0.02439266 0.02609149
sample estimates:
 mean of x
0.02524207

In [13]:
t.test(df$no.mask)

	One Sample t-test

data:  df$no.mask
t = 88.13, df = 5358, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 0.09989698 0.10444240
sample estimates:
mean of x
0.1021697

In [11]:
t.test(df$mask, df$no.mask)

	Welch Two Sample t-test

data:  df$mask and df$no.mask
t = -62.157, df = 6826.2, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.07935375 -0.07450148
sample estimates:
 mean of x  mean of y
0.02524207 0.10216969